.btn {
    border: none;
    background-color: $secondaryColor;
    color: white;
    font-size: 1rem;
    border-radius: 1rem;
    padding: .5rem 2rem;
    font-family: $displayFont;
    text-transform: uppercase;

    &:hover {
        background-color: $tertiaryColor;
    }
}