
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .field__landing {
        margin-top: 3rem;
        position: relative;

        // scaling svgs as background image
        width: 25rem;
        height: 15rem;
        background: no-repeat center url("../assets/images/SVG/pitch2-side.svg");
        background-size: contain;
    }

    %demo-600 {
        color: $darkGrey;
        font-family: $font;
        position: absolute;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2rem;

        // scaling svgs as background image
        width: 2.5rem;
        height: 2.5rem;
        background: no-repeat center url("../assets/icons/comment.svg");
        background-size: contain;
    }

    .demo__marker {

        &1 {
            @extend %demo-600;
            // position on field
            position: absolute;
            left: 4.3rem;
            top: 4.2rem;
        }

        &2 {
            @extend %demo-600;
            // position on field
            position: absolute;
            left: 7.6rem;
            top: 4.2rem;
        }

        &3 {
            @extend %demo-600;
            // position on field
            position: absolute;
            left: 8.6rem;
            top: 1rem;
        }

        &4 {
            @extend %demo-600;
            // position on field
            position: absolute;
            left: 6.6rem;
            top: 7.4rem;
        }

        &5 {
            @extend %demo-600;
            // position on field
            position: absolute;
            left: 11.5rem;
            top: 2.4rem;
        }

        &6 {
            @extend %demo-600;
            // position on field
            position: absolute;
            left: 10.5rem;
            top: 6.4rem;
        }

    }

    .field__teams {
        position: relative;
        margin-left: 2rem;

        // scaling svgs as background image
        width: 20rem;
        height: 18rem;
        background: no-repeat center url("../assets/images/SVG/pitch2.svg");
        background-size: contain;

    }

    %player-600 {
        color: $darkGrey;
        font-family: $font;
        position: absolute;
        font-size: 1rem;
        text-align: center;
        line-height: 1.5rem;

        // scaling svgs as background image
        width: 2rem;
        height: 2rem;
        background: no-repeat center url("../assets/icons/comment.svg");
        background-size: contain;
    }

    .player__marker {

        &1 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 9.3rem;
            top: 13rem;
        }

        &2 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 3.5rem;
            top: 10.5rem;
        }

        &3 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 9.3rem;
            top: 10.5rem;
        }

        &4 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 15rem;
            top: 10.5rem;
        }

        &5 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 6.5rem;
            top: 8.5rem;
        }

        &6 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 12rem;
            top: 8.5rem;
        }

        &7 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 3.5rem;
            top: 7rem;
        }

        &8 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 9.3rem;
            top: 7rem;
        }

        &9 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 15rem;
            top: 7rem;
        }

    }

    .player2__marker {

        &1 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 9.3rem;
            top: 0rem;
        }

        &2 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 3.5rem;
            top: 2rem;
        }

        &3 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 9.3rem;
            top: 2rem;
        }

        &4 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 15rem;
            top: 2rem;
        }

        &5 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 6.5rem;
            top: 3.5rem;
        }

        &6 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 12rem;
            top: 3.5rem;
        }

        &7 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 3.5rem;
            top: 4.5rem;
        }

        &8 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 9.3rem;
            top: 4.5rem;
        }

        &9 {
            @extend %player-600;
            // position on field
            position: absolute;
            left: 15rem;
            top: 4.5rem;
        }

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .field__landing {
        margin-top: 3rem;
        position: relative;

        // scaling svgs as background image
        width: 40rem;
        height: 15rem;
        background: no-repeat center url("../assets/images/SVG/pitch2-side.svg");
        background-size: contain;
    }

    %demo-650 {
        color: $darkGrey;
        font-family: $font;
        position: absolute;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2rem;

        // scaling svgs as background image
        width: 3rem;
        height: 3rem;
        background: no-repeat center url("../assets/icons/comment.svg");
        background-size: contain;
    }

    .demo__marker {

        &1 {
            @extend %demo-650;
            // position on field
            position: absolute;
            left: 7rem;
            top: 3rem;
        }

        &2 {
            @extend %demo-650;
            // position on field
            position: absolute;
            left: 12rem;
            top: 3rem;
        }

        &3 {
            @extend %demo-650;
            // position on field
            position: absolute;
            left: 13rem;
            top: -1rem;
        }

        &4 {
            @extend %demo-650;
            // position on field
            position: absolute;
            left: 11rem;
            top: 7rem;
        }

        &5 {
            @extend %demo-650;
            // position on field
            position: absolute;
            left: 18rem;
            top: 1rem;
        }

        &6 {
            @extend %demo-650;
            // position on field
            position: absolute;
            left: 17rem;
            top: 5rem;
        }

    }

    .field__teams {
        position: relative;
        margin-left: 2rem;

        // scaling svgs as background image
        width: 30rem;
        height: 25rem;
        background: no-repeat center url("../assets/images/SVG/pitch2.svg");
        background-size: contain;

    }

    %player-650 {
        color: $darkGrey;
        font-family: $font;
        position: absolute;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2rem;

        // scaling svgs as background image
        width: 3rem;
        height: 3rem;
        background: no-repeat center url("../assets/icons/comment.svg");
        background-size: contain;
    }

    .player__marker {

        &1 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 14rem;
            top: 18.5rem;
        }

        &2 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 14rem;
            top: 14.5rem;
        }

        &3 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 4rem;
            top: 14.5rem;
        }

        &4 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 24rem;
            top: 14.5rem;
        }

        &5 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 9rem;
            top: 12.5rem;
        }

        &6 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 19rem;
            top: 12.5rem;
        }

        &7 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 4rem;
            top: 9.5rem;
        }

        &8 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 14rem;
            top: 9.5rem;
        }

        &9 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 24rem;
            top: 9.5rem;
        }

    }

    .player2__marker {

        &1 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 14rem;
            top: -1rem;
        }

        &2 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 4rem;
            top: 2rem;
        }

        &3 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 14rem;
            top: 2rem;
        }

        &4 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 24rem;
            top: 2rem;
        }

        &5 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 9rem;
            top: 3.5rem;
        }

        &6 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 19rem;
            top: 3.5rem;
        }

        &7 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 4rem;
            top: 6rem;
        }

        &8 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 14rem;
            top: 6rem;
        }

        &9 {
            @extend %player-650;
            // position on field
            position: absolute;
            left: 24rem;
            top: 6rem;
        }
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .field__landing {
        margin-top: 3rem;
        position: relative;

        // scaling svgs as background image
        width: 45rem;
        height: 15rem;
        background: no-repeat center url("../assets/images/SVG/pitch2-side.svg");
        background-size: contain;
    }

    %demo {
        color: $darkGrey;
        font-family: $font;
        position: absolute;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2rem;

        // scaling svgs as background image
        width: 3rem;
        height: 3rem;
        background: no-repeat center url("../assets/icons/comment.svg");
        background-size: contain;
    }

    .demo__marker {

        &1 {
            @extend %demo;
            // position on field
            position: absolute;
            left: 10rem;
            top: 3rem;
        }

        &2 {
            @extend %demo;
            // position on field
            position: absolute;
            left: 15rem;
            top: 3rem;
        }

        &3 {
            @extend %demo;
            // position on field
            position: absolute;
            left: 16rem;
            top: -1rem;
        }

        &4 {
            @extend %demo;
            // position on field
            position: absolute;
            left: 14rem;
            top: 7rem;
        }

        &5 {
            @extend %demo;
            // position on field
            position: absolute;
            left: 21rem;
            top: 1rem;
        }

        &6 {
            @extend %demo;
            // position on field
            position: absolute;
            left: 20rem;
            top: 5rem;
        }

    }

    .field__teams {
        position: relative;
        margin-left: 2rem;

        // scaling svgs as background image
        width: 45rem;
        height: 35rem;
        background: no-repeat center url("../assets/images/SVG/pitch2.svg");
        background-size: contain;

    }

    %player {
        color: $darkGrey;
        font-family: $font;
        position: absolute;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2rem;

        // scaling svgs as background image
        width: 3rem;
        height: 3rem;
        background: no-repeat center url("../assets/icons/comment.svg");
        background-size: contain;
    }

    .player__marker {

        &1 {
            @extend %player;
            // position on field
            position: absolute;
            left: 21.5rem;
            top: 22.5rem;
        }

        &2 {
            @extend %player;
            // position on field
            position: absolute;
            left: 21.5rem;
            top: 18.5rem;
        }

        &3 {
            @extend %player;
            // position on field
            position: absolute;
            left: 11.5rem;
            top: 18.5rem;
        }

        &4 {
            @extend %player;
            // position on field
            position: absolute;
            left: 31.5rem;
            top: 18.5rem;
        }

        &5 {
            @extend %player;
            // position on field
            position: absolute;
            left: 26.5rem;
            top: 14.5rem;
        }

        &6 {
            @extend %player;
            // position on field
            position: absolute;
            left: 16.5rem;
            top: 14.5rem;
        }

        &7 {
            @extend %player;
            // position on field
            position: absolute;
            left: 21.5rem;
            top: 11.5rem;
        }

        &8 {
            @extend %player;
            // position on field
            position: absolute;
            left: 11.5rem;
            top: 11.5rem;
        }

        &9 {
            @extend %player;
            // position on field
            position: absolute;
            left: 31.5rem;
            top: 11.5rem;
        }

    }

    .player2__marker {

        &1 {
            @extend %player;
            // position on field
            position: absolute;
            left: 21.5rem;
            top: 0rem;
        }

        &2 {
            @extend %player;
            // position on field
            position: absolute;
            left: 21.5rem;
            top: 3rem;
        }

        &3 {
            @extend %player;
            // position on field
            position: absolute;
            left: 11.5rem;
            top: 3rem;
        }

        &4 {
            @extend %player;
            // position on field
            position: absolute;
            left: 31.5rem;
            top: 3rem;
        }

        &5 {
            @extend %player;
            // position on field
            position: absolute;
            left: 26.5rem;
            top: 7rem;
        }

        &6 {
            @extend %player;
            // position on field
            position: absolute;
            left: 16.5rem;
            top: 7rem;
        }

        &7 {
            @extend %player;
            // position on field
            position: absolute;
            left: 21.5rem;
            top: 8.5rem;
        }

        &8 {
            @extend %player;
            // position on field
            position: absolute;
            left: 11.5rem;
            top: 8.5rem;
        }

        &9 {
            @extend %player;
            // position on field
            position: absolute;
            left: 31.5rem;
            top: 8.5rem;
        }

    }

}
