.landing {
    background-color: $primaryColor;

    // offsets the hieght of the footer
    // padding-bottom: 5rem;
}

.landing__feature > div {
    margin: 2rem;
}

.landing__feature > div > * {
    padding: 1rem;
}

.landing__feature > * > * > h2 {
    margin-bottom: 1rem;
}

.landing__img {
    width: 6rem;
    height: 6rem;
}


