.landing {
    margin-top: 25vh;

}

.landing__feature {
    padding: 0 4rem;
}

.landing__feature > div {
    margin: 2rem;
}

.landing__feature > div > * {
    padding: 1rem;
}

.landing__img {
    width: 6rem;
    height: 6rem;
}


