.players {

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__skill {
        display: flex;
        justify-content: space-between;
        margin: .5rem 0;
    }

    &__skill > * > label {
        margin-right: 1rem;
    }

    &__create {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        background: $primaryColor;
        border-radius: 1rem;
        padding: .5rem 1rem;
        border: 1px solid $tertiaryColor;
    }

    &__create:hover {
        background: $tertiaryColor;
    }

    // changing the svg plus icon when the parent element is hovered
    &__create:hover > img {
        filter: grayscale(100%) sepia(100%);
    }

    &__create > img {
        margin-right: .5rem;
    }

    &__icon {
        width: 2rem;
        height: 2rem;

    }

    &__position > select {
        margin: .5rem 0 0 0;
    }

    &__tally {
        margin-left: 1rem;
    }
}