%display {
    font-family: $displayFont;
}

.display-1 {
    @extend %display;
    font-size: 6rem;
}

.display-2 {
    @extend %display;
    font-size: 5rem;
}

.display-3 {
    @extend %display;
    font-size: 4rem;
}

.display-4 {
    @extend %display;
    font-size: 3rem;
}

.display-5 {
    @extend %display;
    font-size: 2rem;
}

%text {
    font-family: $font;
}

.text-1 {
    @extend %text;
    font-size: 3rem;
}

.text-2 {
    @extend %text;
    font-size: 2rem;
}

.text-3 {
    @extend %text;
    font-size: 1rem;
}