/* title text */

%display {
    font-family: $displayFont;
    color: $tertiaryColor;
}

.display-1 {
    @extend %display;
    font-size: 6rem;
}

.display-2 {
    @extend %display;
    font-size: 5rem;
}

.display-3 {
    @extend %display;
    font-size: 4rem;
}

.display-4 {
    @extend %display;
    font-size: 3rem;
}

.display-5 {
    @extend %display;
    font-size: 2rem;
}

/* anything that is not a title */

%text {
    font-family: $font;
    color: white;
}

.text-1 {
    @extend %text;
    font-size: 3rem;
}

.text-2 {
    @extend %text;
    font-size: 2rem;
}

.text-3 {
    @extend %text;
    font-size: 1rem;
}

/* logo */

.logo {
    color: $white;
    font-family: $displayFont;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px 0 black;
}